<html>
    <head>
        <title>From Register</title>
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/index.css">
        <link rel="stylesheet" href="public/css/form-blog.css">
    </head>
    <body>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="container-form" style="width: 550px; margin-top: 100px; background-color: black; border-radius: 10px; padding-left: 90px; padding-right: 90px;">
                <h2 class="mb-3 text-center text-white my-4">Form Register</h2>
                <form action="/register" method="post">
                    <div class="mb-3">
                        <label for="input-name" class="form-label text-white">Name</label>
                        <input type="text" name="input-name" id="input-name" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label for="input-email" class="form-label text-white">Email</label>
                        <input type="email" name="input-email" id="input-email" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label for="input-pw" class="form-label text-white">Password</label>
                        <input type="password" name="input-pw" id="input-pw" class="form-control" required/>
                    </div>
                    <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                        <div class="text-white" style="margin-left: 100px;">
                            <a href="login-form" style="margin-top: 100px; margin-right: 175px; text-decoration: none; color: white;">
                                Already Have Acount?
                            </a>
                        </div>
                        <button class="btn text-white bg-black px-3 my-1"> Register </button>
                    </div>
                </form>
            </div>
        </div>

        <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
        crossorigin="anonymous"></script>
    </body>
</html>